{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": "off",
    "import/prefer-default-export": "warn"
  },
  "env": {
    "shared-node-browser": true
  },
  "globals": {
    "ENV": true
  }
}